/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END MEYER RESET */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Sansita Swashed', cursive;
    /* background-color: lemonchiffon; */
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    margin-top: 2rem;
    margin-left: 15rem;
    width: 100%;
}

input {
    position: relative;
    cursor: pointer;
    margin-right: 17rem;
    margin-left: 4rem;
    color: rgb(239, 239, 247);
    background-image: linear-gradient(rgb(68, 47, 173), rgb(123, 47, 173)) ;
    opacity: .8;
    height: 2rem;
    width: 7rem;
    border-radius: 7px;
    font-family: "Lora", "sans-serif";
    font-size: 15px;
    font-weight: 600;
    box-shadow: 5px 5px  rgb(219, 216, 219);
    text-shadow: 
    /* 3px 3px 0 #000, */
    -1px -1px 0 rgb(85, 78, 78),  
    1px -1px 0 rgb(85, 78, 78) ,
    -1px 1px 0 rgb(85, 78, 78),
    1px 1px 0 rgb(85, 78, 78);
}

.zodiac-info {
    font-weight: 900;
    color: azure;
    margin-top: 6rem;
    margin-left: 44rem;
    width: 18rem;

    /* animation transition */

    animation: fadeIn ease 5s;
    animation-duration: 5s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
}
}

/* animation end */

.horoscope {
    display: flex;
    flex-wrap: wrap
}

.zodiac-info > h1 {
    font-size: 50px;
    margin-bottom: 1rem;
    color: bisque;
    text-shadow: 
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.zodiac-info > p {
    margin-bottom: .7rem;
    font-family:'Lora', serif ;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}



.circle {
    height: 75%;
    margin-top: 4rem;
    margin-right: 10rem;
    display: flex;
    position: absolute;
}

/* #signs div > p > a {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
} */


img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.mouseover {
    width: 100px;
}

    .circle .tick {
        width: 650px;
        height: 10px;
        /* background: #000; */
        position: absolute;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -5px;
    }

    .circle .tick:nth-child(1) {
        transform: rotate(0deg) ;
    }
    .circle .tick:nth-child(2) {
        transform: rotate(30deg) ;
    }
    .circle .tick:nth-child(2) img {
        transform: rotate(-30deg);
    }
    .circle .tick:nth-child(3) {
        transform: rotate(60deg) ;
    }
    .circle .tick:nth-child(3) img {
        transform: rotate(-60deg);
    }
    .circle .tick:nth-child(4) {
        transform: rotate(90deg) ;
    }
    .circle .tick:nth-child(4) img {
        transform: rotate(-90deg);
    }
    .circle .tick:nth-child(5) {
        transform: rotate(120deg) ;
    }
    .circle .tick:nth-child(5) img {
        transform: rotate(-120deg);
    }
    .circle .tick:nth-child(6) {
        transform: rotate(150deg) ;
    }
    .circle .tick:nth-child(6) img {
        transform: rotate(-150deg);
    }
    .circle .tick:nth-child(7) {
        transform: rotate(180deg) ;
    }
    .circle .tick:nth-child(7) img {
        transform: rotate(-180deg);
    }
    .circle .tick:nth-child(8) {
        transform: rotate(210deg) ;
    }
    .circle .tick:nth-child(8) img {
        transform: rotate(-210deg);
    }
    .circle .tick:nth-child(9) {
        transform: rotate(240deg) ;
    }
    .circle .tick:nth-child(9) img {
        transform: rotate(-240deg);
    }
    .circle .tick:nth-child(10) {
        transform: rotate(270deg) ;
    }
    .circle .tick:nth-child(10) img {
        transform: rotate(-270deg);
    }
    .circle .tick:nth-child(11) {
        transform: rotate(300deg) ;
    }
    .circle .tick:nth-child(11) img {
        transform: rotate(-300deg);
    }
    .circle .tick:nth-child(12) {
        transform: rotate(330deg) ;
    }
    .circle .tick:nth-child(12) img {
        transform: rotate(-330deg);
    }

    